@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Libre+Baskerville&display=swap');

/* Apply global styles */
body {
  font-family: 'Libre Baskerville', serif;
  background-color: #f8f8f8;
  color: #333;
  font-size: 1.25rem;
}

/* Custom button styles */
button {
  font-family: 'Cinzel', serif;
  font-size: 1.1rem;
}

/* Custom container styles */
#game {
  max-width: 800px;
  background-color: white;
  border: 2px solid #d4af37;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 2rem;
}

/* Custom text styles */
#description,
#choices {
  margin-bottom: 1.5rem;
}

#choices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

#choices button {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;

  max-width: 200px;
  padding: 1rem;
  text-align: center;
  background-color: #d4af37;
  color: black;
  border: 2px solid #b38e2e;
  border-radius: 5px;
  font-family: 'Cinzel', serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

#choices button:nth-child(2n + 1),
button:nth-child(2n + 2) {
  margin-left: auto;
  margin-right: auto;
}

#choices button:hover {
  background-color: #b38e2e;
  border-color: #a07c27;
}

#saveButton,
#loadButton {
  background-color: #d4af37;
  color: black;
  border: 2px solid #b38e2e;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  font-family: 'Cinzel', serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

#saveButton:hover,
#loadButton:hover {
  background-color: #b38e2e;
  border-color: #a07c27;
}

#imageContainer {
  max-width: 100%;
  margin-bottom: 1.5rem;
  border: 2px solid #ccc;
  background: #f0f0f0;
  padding: 10px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 50%;
  border-radius: 10px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f8f8;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 2px solid #d4af37;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#stats {
  display: flex;
  gap: 2rem;
}

.stat-container {
  text-align: center;
  border: 2px solid #d4af37;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #fff;
}

.stat-label {
  font-size: 0.9rem;
  color: #555;
  border-bottom: 1px solid #d4af37;
  margin-bottom: 0.3rem;
  width: 100%;
  padding-bottom: 0.2rem;
}

.stat-value {
  font-size: 1.5rem;
  font-weight: bold;
}

#date-time {
  display: flex;
  gap: 2rem;

  text-align: center;
  justify-content: center;
  align-items: center;
}

#calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #d4af37;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #fff;
}

#calendar-header {
  font-size: 0.9rem;
  color: #555;
  border-bottom: 1px solid #d4af37;
  margin-bottom: 0.3rem;
  width: 100%;
  text-align: center;
  padding-bottom: 0.2rem;
}

#day-of-week {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 0.2rem;
}

#day {
  font-size: 1.5rem;
  font-weight: bold;
}

#clock {
  border: 2px solid #d4af37;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #fff;
  font-size: 1.5rem;
  color: #555;
  align-items: center;
  min-width: 100px;
  display: flex;
  height: 50px;
  margin-right: 1rem;
}

#combatStatus {
  max-width: 500px;
  margin: auto;
  margin-top: 2rem;
  border: 2px solid #d4af37;
  border-radius: 5px;
  padding: 1rem;
  background-color: #fff;
  font-family: 'Cinzel', serif;
  font-size: 1.25rem;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  text-align: left;
}

#combatStatus strong {
  font-size: 1.5rem;
  color: #333;
}

#combatStatus br {
  margin-bottom: 0.5rem;
}
